.missao {
  background: white;
  width: 100%;
  height: 60vh;
  display: flex;
  padding: 3rem;
  position: relative;
  align-items: center;
  justify-content: space-between; 
  /* box-shadow: 0 -4px 6px -4px rgba(0, 0, 0, 0.3),
    0 4px 6px -4px rgba(0, 0, 0, 0.3); */
}

.missao-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.missao-titulo h2 {
  display: flex;
  z-index: 1;
  padding: 3rem 0 3rem 5rem;
  width: 100%;
  color: #2850a0;
  text-align: center;
  font-weight: 100;
  font-size: 2rem;
  /* background: white; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3),
    inset 0 1px 2px rgba(255, 255, 255, 0.5); */
  opacity: 0;
  transform: translateY(-50px);
  animation: moveTitulo 5s ease-out forwards;
}

.missao-titulo p {
  z-index: 2;
  width: 50%;
  font-weight: 200;
  line-height: 2rem;
  opacity: 0;
  transform: translateY(50px);
  animation: moveParagrafo 4s ease-out 2s forwards;
}

.missao-numeros {
  gap: 2rem;
  color: #2850a0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  background: transparent;
  width: 50%;
  opacity: 0;
  transform: translateX(-50px);
  animation: moveNumeros 3s ease-out 2s forwards;
}

.missao-vidas-protegidas,
.missao-empresas-ativas {
  text-align: center;
}

.missao-vidas-protegidas h3,
.missao-empresas-ativas h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.missao-vidas-protegidas h4,
.missao-empresas-ativas h4 {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0;
  animation: fadeIn 3s ease-out 1s forwards;
}

.missao a {
  background-color: #ffa535;
  margin-top: 2rem;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease;
  cursor: pointer;
  opacity: 0;
  /* transform: translateX(50px); */
  animation: moveBotao 5s ease-out 2s forwards;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  height: 50px;
  width: 27%;
  margin-left: 4rem;
}

.missao a:hover {
  opacity: 0.8;
  background-color: rgba(255, 181, 106, 0.976);
}

.missao img {
  position: absolute;
  width: 60%;
  z-index: -2;
}

/* ====== ANIMAÇÕES ======= */

@keyframes moveBotao {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveNumeros {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveParagrafo {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveTitulo {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* ====== MEDIA QUERIES PARA RESPONSIVIDADE ======= */

@media (max-width: 768px) {
  .missao {
    height: auto;
    padding: 3rem 1rem;
  }

  .missao-conteudo {
    flex-direction: column;
    text-align: center;
  }

  .missao-texto {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .missao-imagem-container {
    justify-content: center;
  }

  .missao h2 {
    text-align: center;
    padding: 2rem 0;
  }

  .missao p {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
  }

  .missao-numeros {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .missao a {
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .missao {
    padding: 2rem 1rem;
  }

  .missao h2 {
    font-size: 1.5rem;
  }

  .missao p {
    font-size: 1rem;
  }

  .missao-vidas-protegidas h3,
  .missao-empresas-ativas h3 {
    font-size: 1.5rem;
  }

  .missao-vidas-protegidas h4,
  .missao-empresas-ativas h4 {
    font-size: 1rem;
  }

  .missao a {
    font-size: 0.8rem;
    padding: 0.8rem 1.5rem;
  }
}
