.sobre-mim {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
  width: 100%;
  margin: 0 auto;
  /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); */
  background: url("src/assets/imagens/FUNDO banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sobre-mim-conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.sobre-mim h6 {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.imagem {
  max-width: 50px;
}

.sobre-mim-seta {
  margin-top: 2rem;
  width: 30px;
  height: 30px;
  animation: moverSeta 1.5s infinite ease-in-out;
  position: absolute;
  left: 48.5%;
  top: 65%;
}

.oculta {
  display: none;
}

.visivel {
  display: block;
}

@keyframes moverSeta {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .sobre-mim {
    min-height: 25vh;
  }

  .imagem {
    max-width: 50px;
  }

  .sobre-mim-conteudo p {
    font-size: 0.8rem;
  }

  .botao-cta {
    font-size: 0.7rem;
    padding: 0.6rem 1.2rem;
  }
}
